footer
	.container
		.inner
			img(src="https://s3.amazonaws.com/canalwest/images/svg/logo-wordmark.svg" class="wordmark" alt="Canal West Studio.")
			address
				ul
					li= title
					li= address
					li= suite
					li #{location}&nbsp;#{zip}